<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="ApplicationServices"
      connectionString="Data Source=NEC\SQLEXPRESS2008;Initial Catalog=authentication;Integrated Security=True"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
    <add name="SimpleListEntities"
      connectionString="Data Source=NEC\SQLEXPRESS2008;Initial Catalog=SimpleListV1;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" 
      xdt:Locator="Match(name)"/>      
  </connectionStrings>

</configuration>