<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="ApplicationServices"
      connectionString="Data Source=***REMOVED***;Initial Catalog=authentication;Persist Security Info=True;User ID=authentication;Password=***REMOVED***"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
    <add name="SimpleListEntities"
      connectionString="Data Source=***REMOVED***;Initial Catalog=simplelist;Persist Security Info=True;User ID=infostructure;Password=password;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>
